<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="languageDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fas fa-globe me-1"></i>
        <span id="currentLanguageLabel">Language</span>
    </a>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="languageDropdown">
        <li>
            <a class="dropdown-item" href="#" onclick="triggerTranslation('en'); return false;">
                <i class="fas fa-flag-usa me-2"></i>English (Original)
            </a>
        </li>
        <li>
            <a class="dropdown-item" href="#" onclick="triggerTranslation('fr'); return false;">
                <i class="fas fa-flag-fr me-2"></i>Français
            </a>
        </li>
        <li>
            <a class="dropdown-item" href="#" onclick="triggerTranslation('rw'); return false;">
                <i class="fas fa-flag me-2"></i>Ikinyarwanda
            </a>
        </li>
    </ul>
</li>
